doctype html
html
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')          
            title Ayush-Hotels | #{title}
            
    body
        h1 This Hotel 1
        p=`${hotel.name}`
        p=`${hotel.city}`
        p=`${hotel.seller.email}`
        p=`${hotel.price}`
        br
        if user
            button#book-tour(data-hotel-id=`${hotel.id}`) Book Hotel now!
        else
            a(href='/login') Login to Book  
        script(src='https://js.stripe.com/v3/')   
        script(src='https://unpkg.com/axios/dist/axios.min.js')       
        script(type='module' src="/js/stripe.js")
        
